[Unit]
Description=Stalwart SMTP
Conflicts=postfix.service sendmail.service exim4.service
ConditionPathExists=/etc/stalwart.toml
After=network-online.target
 
[Service]
Type=simple
LimitNOFILE=65536
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/stalwart-smtp --config=/etc/stalwart.toml
PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=stalwart-smtp
 
[Install]
WantedBy=multi-user.target
